<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - add patient</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/patientFormStyle.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/admin/dashboard">
                <img th:src="@{/images/pharmacy.png}" width="40" height="40" alt="home-icon"/>
            </a></li>

            <li><a href="/admin/add-patient">
                <img th:src="@{/images/patient.png}" width="40" height="40" alt="add-patient-icon"/>
            </a></li>

            <li><a href="/admin/patientsList">
                <img th:src="@{/images/patientsList.png}" width="40" height="40" alt="display-patients-icon"/>
            </a></li>

            <li><a href="/admin/add-doctor">
                <img th:src="@{/images/doctor.png}" width="40" height="40" alt="add-doctor-icon"/>
            </a></li>

            <li><a href="/admin/doctorsList">
                <img th:src="@{/images/doctorsList.png}" width="40" height="40" alt="display-doctors-icon"/>
            </a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit">
                        <img th:src="@{/images/logout.png}" width="30" height="30" alt="logout-icon"/>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="centered-heading">Panel dodawania nowego pacjenta</h1>

    <form class="mainForm" method="post" th:object="${patient}">

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">Usuń wymienione problemy i spróbuj ponownie.</span>
        </div><br>
        <div th:if="${errorMessage}" style="color: red;">
            <p class="validationError" th:text="${errorMessage}"></p>
        </div>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</td>
            </span>
            <label for="firstName">Imię:</label>
            <input type="text" th:field="*{firstName}" id="firstName"/>
        </div>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</td>
            </span>
            <label for="lastName">Nazwisko:</label>
            <input type="text" th:field="*{lastName}" id="lastName"/>
        </div>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">Name Error</td>
            </span>
            <label for="dateOfBirth">Data urodzenia:</label>
            <input type="date" th:field="*{dateOfBirth}" id="dateOfBirth"/>
        </div>

        <span class="validationError">
                <td th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Name Error</td>
        </span>
        <label>Płeć:</label>
        <div class="gender-container">
            <input type="radio" th:field="*{gender}" value="FEMALE" id="female" name="gender"/>
            <label for="female">Kobieta</label>
            <input type="radio" th:field="*{gender}" value="MALE" id="male" name="gender"/>
            <label for="male">Mężczyzna</label>
        </div><br>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('peselNumber')}" th:errors="*{peselNumber}">Name Error</td>
            </span>
            <label for="peselNumber">Numer PESEL:</label>
            <input type="text" th:field="*{peselNumber}" id="peselNumber"/>
        </div>

        <div>
            <span class="validationError" th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}">Name Error</span>
            <label for="address.street">Ulica:</label>
            <input type="text" th:field="*{address.street}" id="address.street"/>
        </div>

        <div>
            <span class="validationError" th:if="${#fields.hasErrors('address.houseNumber')}" th:errors="*{address.houseNumber}">Name Error</span>
            <label for="address.houseNumber">Numer domu:</label>
            <input type="text" th:field="*{address.houseNumber}" id="address.houseNumber"/>
        </div>

        <div>
            <span class="validationError" th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}">Name Error</span>
            <label for="address.city">Miasto:</label>
            <input type="text" th:field="*{address.city}" id="address.city"/>
        </div>

        <div>
            <span class="validationError" th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}">Name Error</span>
            <label for="address.postalCode">Kod pocztowy:</label>
            <input type="text" th:field="*{address.postalCode}" id="address.postalCode"/>
        </div>

        <div>
            <span class="validationError" th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}">Name Error</span>
            <label for="address.country">Kraj:</label>
            <input type="text" th:field="*{address.country}" id="address.country"/>
        </div>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Name Error</td>
            </span>
            <label for="phoneNumber">Numer telefonu:</label>
            <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
        </div>

        <div>
            <span class="validationError">
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</td>
            </span>
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" id="email"/>
        </div>

        <button class="mainFormButton" type="submit">Dodaj pacjenta</button>
    </form>
</main>
</body>
</html>