<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - admin-dashboard</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/admin/dashboard">
                <img th:src="@{/images/pharmacy.png}" width="40" height="40" alt="home-icon"/>
            </a></li>

            <li><a href="/admin/add-patient">
                <img th:src="@{/images/patient.png}" width="40" height="40" alt="add-patient-icon"/>
            </a></li>

            <li><a href="/admin/patient-list">
                <img th:src="@{/images/patientsList.png}" width="40" height="40" alt="display-patients-icon"/>
            </a></li>

            <li><a href="/admin/add-doctor">
                <img th:src="@{/images/doctor.png}" width="40" height="40" alt="add-doctor-icon"/>
            </a></li>

            <li><a href="/admin/doctor-list">
                <img th:src="@{/images/doctorsList.png}" width="40" height="40" alt="display-doctors-icon"/>
            </a></li>

            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit">
                        <img th:src="@{/images/logout.png}" width="30" height="30" alt="logout-icon"/>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="dashboard">
        <div class="sidebar">
            <div class="profileMenu">
                <img th:src="@{/images/userProfile.png}" width="200" height="200" alt="profile-icon"/>
                <h3 th:text="${username}">Użytkownik</h3>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" class="btnNav">Wyloguj</button>
                </form>
            </div>
        </div>
        <div class="content">
            <h1>Panel główny administratora</h1>
                <a href="/admin/add-patient" class="tile">
                    <img th:src="@{/images/patient.png}" width="40" height="40" alt="add-patient-icon"/>
                    <div>Dodaj pacjenta</div>
                </a>
                <a href="/admin/patient-list" class="tile">
                    <img th:src="@{/images/patientsList.png}" width="40" height="40" alt="display-patients-icon"/>
                    <div>Lista pacjentów</div>
                </a>
                <a href="/admin/add-doctor" class="tile">
                    <img th:src="@{/images/doctor.png}" width="40" height="40" alt="add-doctor-icon"/>
                    <div>Dodaj doktora</div>
                </a>
                <a href="/admin/doctor-list" class="tile">
                    <img th:src="@{/images/doctorsList.png}" width="40" height="40" alt="display-doctors-icon"/>
                    <div>Lista doktorów</div>
                </a>
        </div>
    </div>
</main>
</body>
</html>
