<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - doctors list</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/patientListStyle.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/admin/dashboard">
                <img th:src="@{/images/pharmacy.png}" width="40" height="40" alt="home-icon"/>
            </a></li>

            <li><a href="/admin/add-patient">
                <img th:src="@{/images/patient.png}" width="40" height="40" alt="add-patient-icon"/>
            </a></li>

            <li><a href="/admin/patientsList">
                <img th:src="@{/images/patientsList.png}" width="40" height="40" alt="display-patients-icon"/>
            </a></li>

            <li><a href="/admin/add-doctor">
                <img th:src="@{/images/doctor.png}" width="40" height="40" alt="add-doctor-icon"/>
            </a></li>

            <li><a href="/admin/doctorsList">
                <img th:src="@{/images/doctorsList.png}" width="40" height="40" alt="display-doctors-icon"/>
            </a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit">
                        <img th:src="@{/images/logout.png}" width="40" height="40" alt="logout-icon"/>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h1 class="centered-heading">Panel widoku doktorów w bazie danych</h1>
    <div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Specjalizacja</th>
            <th>Numer Pesel</th>
            <th>Numer telefonu</th>
            <th>Email</th>
            <th>Adres zamieszkania</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.speciality}"></td>
            <td th:text="${doctor.peselNumber}"></td>
            <td th:text="${doctor.phoneNumber}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.address}"></td>
        </tr>
        </tbody>
    </table>
    </div>
</main>
</body>
</html>