<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - patient-dashboard</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/patient/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/patient/medical-history"><h4>Historia medyczna</h4></a></li>
            <li><a href="/patient/availability/list"><h4>Lista dostępności lekarzy</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="dashboard">
        <div class="sidebar">
            <div class="profileMenu">
                <img th:src="@{/images/userProfile.png}" width="200" height="200" alt="profile-icon"/>
                <h3 th:text="${user.patient.firstName + ' ' + user.patient.lastName}">Użytkownik</h3>
                <p th:if="${user.patient}">
                    Adres email:
                    <span th:text="${user.username}"></span>
                    Data urodzenia:
                    <span th:text="${user.patient.dateOfBirth ?: 'Nie podano'}"></span>
                </p>
            </div>
        </div>
        <div class="content">
            <h1>Panel główny pacjenta</h1>
            <a href="/patient/medical-history" class="tile">
                <img th:src="@{/images/medicalList.png}" width="40" height="40" alt="display-medical-list-icon"/>
                <div>Historia medyczna</div>
            </a>
        </div>
    </div>
</main>
</body>
</html>
