<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - patient-dashboard</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/patient/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/patient/medical-history"><h4>Historia medyczna</h4></a></li>
            <li><a href="/patient/availability/list"><h4>Lista dostępności lekarzy</h4></a></li>
            <li><a href="/patient/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class="dashboard">
        <div class="sidebar">
            <div class="profileMenu">
                <img th:src="@{/images/userProfile.png}" width="200" height="200" alt="profile-icon"/>
                <h3 th:text="${user.patient.firstName + ' ' + user.patient.lastName}">Użytkownik</h3>
                <div class="profileDetails">
                <p>
                    <strong>Data urodzenia:</strong>
                    <span th:text="${user.patient.dateOfBirth ?: 'Nie podano'}">2000-01-01</span>
                </p>
                <p>
                    <strong>Płeć:</strong>
                    <span th:text="${user.patient.gender}">Nie podano</span>
                </p>
                <p>
                    <strong>PESEL:</strong>
                    <span th:text="${user.patient.peselNumber}">00000000000</span>
                </p>
                <p>
                    <strong>Adres email:</strong>
                    <span th:text="${user.username}">adres@example.com</span>
                </p>
                <p>
                    <strong>Telefon:</strong>
                    <span th:text="${#strings.substring(user.patient.phoneNumber, 0, 3) + '-'
                                   + #strings.substring(user.patient.phoneNumber, 3, 6) + '-'
                                   + #strings.substring(user.patient.phoneNumber, 6)}">123-456-789</span>
                </p>
                <div th:if="${user.patient.address != null}">
                    <p>
                        <strong>Adres</strong>
                        <span th:text="${user.patient.address.street + ' ' + user.patient.address.houseNumber}">ul. Przykładowa 1/2</span>
                        <br/>
                        <strong>zamieszkania:</strong>
                        <span th:text="${user.patient.address.postalCode + ' ' + user.patient.address.city}">00-000 Miasto</span>
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>Panel główny pacjenta</h1>
            <a href="/patient/medical-history" class="tile">
                <img th:src="@{/images/medicalList.png}" width="40" height="40" alt="display-medical-list-icon"/>
                <div>Historia medyczna</div>
            </a>

            <div>
                <h1 class="centered-heading">Twoje nadchodzące wizyty</h1>
                <div class="table-container">
                    <table>
                        <thead>
                        <tr>
                            <th>Lekarz</th>
                            <th>Data</th>
                            <th>Godzina</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="a : ${appointments}">
                            <td th:text="${a.doctor.firstName + ' ' + a.doctor.lastName}"></td>
                            <td th:text="${a.date}"></td>
                            <td th:text="${a.startTime + ' - ' + a.endTime}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
