<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - medical history</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/medical-history-view-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/patient/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/patient/medical-history"><h4>Historia medyczna</h4></a></li>
            <li><a href="/patient/availability/list"><h4>Lista dostępności lekarzy</h4></a></li>
            <li><a href="/patient/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="centered-heading">Twoja historia medyczna</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Typ wpisu</th>
                <th>Status wpisu</th>
                <th>Lekarz</th>
                <th>Data</th>
                <th>Opis wpisu medycznego</th>
                <th>Data utworzenia wpisu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history, iterStat : ${medicalHistories}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${history.type}"></td>
                <td th:text="${history.status}"></td>
                <td th:text="${history.appointment.doctor.firstName + ' ' + history.appointment.doctor.lastName}"></td>
                <td th:text="${history.date}"></td>
                <td th:text="${history.description}"></td>
                <td th:text="${#temporals.format(history.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>