<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - availability list</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/list-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/doctor/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/doctor/availability/list"><h4>Dostępność</h4></a></li>
            <li><a href="/doctor/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="centered-heading">Twoje dostępne terminy</h1>
    <div class="table-container"><br>
        <a href="/doctor/availability/form" class="btn" style="margin-left: 1mm;">Dodaj nową dostępność</a>
        <table>
            <thead>
            <tr>
                <th>Data</th>
                <th>Godzina rozpoczęcia</th>
                <th>Godzina zakończenia</th>
                <th>Edycja</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${availabilities}">
                <td th:text="${a.date}"></td>
                <td th:text="${a.startTime}"></td>
                <td th:text="${a.endTime}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>