body {
    background-color: #bee8e8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NOWY HEADER POCZĄTEK  */
header {
    background-color: #e8f1f2;
    border: 2px solid #4ab7b8;
    color: #2c3e50;
    padding: 10px 20px;
    box-sizing: border-box;
    opacity: 0.9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header nav ul li a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.centered-heading {
    text-align: center;
}

header nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

header nav ul li a img {
    display: block;
}

.nav-left li {
  margin-right: 20px;
}

.nav-right {
  margin-left: auto;
}

.logoutBtn {
  background: none;
  border: none;
  color: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: block;
}

.logoutBtn:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* NOWY HEADER KONIEC  */

.mainForm {
    border: 2px solid #4ab7b8;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e8f1f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.validationError{
    color: red;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="radio"],
input[type="time"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.gender-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.gender-container input[type="radio"] {
    margin: 0;
}

.mainFormButton {
    width: 100%;
    padding: 12px;
    background-color: #bee8e8;
    border: 2px solid #4ab7b8;
    color: #2c3e50;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.001);
}

.btnNav {
    width: auto;
    padding: 8px 16px;
    font-size: 12px;
    background-color: #49bfb9;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.btnNav:hover {
    background-color: #4ab7b8;
}

.bold-green {
    font-weight: bold;
    color: green;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #4ab7b8;
    border-radius: 8px;
    background-color: white;
    color: #333;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


select:hover {
    border-color: #4ab7b8;
}

select:focus {
    outline: none;
    border-color: #4ab7b8;
    box-shadow: 0 0 8px rgba(40, 167, 69, 0.5);
}


option {
    padding: 10px;
    font-size: 16px;
    background: white;
    color: #333;
}

option[value=""] {
    color: gray;
    font-style: italic;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
    font-family: inherit;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    outline: none;
    border-color: #4ab7b8;
    box-shadow: 0 0 8px rgba(74, 183, 184, 0.3);
}


