body {
    background-color: #bee8e8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #53e0d9, #4ab7b8);
    color: white;
    padding: 10px 20px;
    box-sizing: border-box;
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.centered-heading {
    text-align: center;
}

header nav ul li a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

header nav ul li a img {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

th {
    background: linear-gradient(to right, #37b1ab, #55b7b8);
    color: white;
    padding: 12px;
    text-align: left;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


td {
    padding: 12px;
    text-align: left;
    font-size: 14px;
}

tr:nth-child(odd) {
    background-color: #9de0e1;
}

tr:nth-child(even) {
    background-color: #94d3d4;
}

tr:hover {
    background-color: #51bdbf;
    transition: all 0.3s ease;
}


td, th {
    padding: 10px;
    border-radius: 5px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.table-container {
    max-width: 98%;
    margin: 5px auto;
    overflow-x: auto;
}

.btn{
    width: 70%;
    padding: 8px;
    font-size: 12px;
    background-color: #49bfb9;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.btn:hover{
    background-color: #4ab7b8;
}

.btnNav {
    width: auto;
    padding: 8px 16px;
    font-size: 12px;
    background-color: #49bfb9;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.btnNav:hover {
    background-color: #4ab7b8;
}

.logoutBtn {
    display: block;
    width: 25px;
    margin: 5px auto;
    padding: 5px;
    background-color: #49bfb9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    text-decoration: none;
    cursor: pointer;
}

