<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - login</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/patientFormStyle.css">
</head>
<body>
<header>
    <nav>
    </nav>
</header>
<main>
    <h2>Logowanie</h2>
    <form th:action="@{/login}" method="post">
        <div>
            <label>Email:</label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password"/>
        </div>
        <button type="submit">Zaloguj</button>
    </form>
    <p th:if="${param.error}">Nieprawidłowy email lub hasło</p>
    <p th:if="${param.logout}">Wylogowano pomyślnie</p>
</main>
</body>