<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - view medical history</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/medicalHistoryViewStyle.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/admin/dashboard">
                <img th:src="@{/images/pharmacy.png}" width="40" height="40" alt="home-icon"/>
            </a></li>

            <li><a href="/admin/add-patient">
                <img th:src="@{/images/patient.png}" width="40" height="40" alt="add-patient-icon"/>
            </a></li>

            <li><a href="/admin/patientsList">
                <img th:src="@{/images/patientsList.png}" width="40" height="40" alt="display-patients-icon"/>
            </a></li>

            <li><a href="/admin/add-doctor">
                <img th:src="@{/images/doctor.png}" width="40" height="40" alt="add-doctor-icon"/>
            </a></li>

            <li><a href="/admin/doctorsList">
                <img th:src="@{/images/doctorsList.png}" width="40" height="40" alt="display-doctors-icon"/>
            </a></li>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit">
                        <img th:src="@{/images/logout.png}" width="40" height="40" alt="logout-icon"/>
                    </button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <input type="hidden" name="patientId" th:value="${patientId}"/>

    <div class="patient-info">
        <h2>Historia medyczna pacjenta: <span th:text="${patient.firstName}"></span> <span th:text="${patient.lastName}"></span></h2>
        <h4>PESEL: <span th:text="${patient.peselNumber}"></span></h4>
        <a th:href="@{/addMedicalHistory(patientId=${patient.id})}" class="btn">Dodaj wpis</a>
        <a href="/admin/patientsList" class="btn">Powrót do listy pacjentów</a>
    </div>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Lekarz</th>
                <th>Data spotkania</th>
                <th>Status</th>
                <th>Data dodania</th>
                <th>Powód</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${medicalHistories}">
                <td th:text="${history.id}"></td>
                <td th:text="${history.doctorLastName}"></td>
                <td th:text="${history.dateOfAppointment}"></td>
                <td th:text="${history.status}"></td>
                <td th:text="${history.createdAt}"></td>
                <td th:text="${history.reason}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>