<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anuluj rezerwacje | MDB</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/patient/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/patient/medical-history"><h4>Historia medyczna</h4></a></li>
            <li><a href="/patient/availability/list"><h4>Lista dostępności lekarzy</h4></a></li>
            <li><a href="/patient/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <form class="mainForm" th:action="@{'/patient/availability/cancel-confirm/' + ${appointment.id}}" method="post">
        <h2>Czy na pewno chcesz anulować wizytę?</h2>
        <p>Lekarz: <span th:text="|${appointment.doctor.firstName} ${appointment.doctor.lastName}|"></span></p>
        <p>Specjalizacja: <span th:text="${appointment.doctor.speciality}"></span></p>
        <p>Data: <span th:text="${appointment.date}"></span></p>
        <p>Godzina: <span th:text="${appointment.startTime} + ' - ' + ${appointment.endTime}"></span></p>
        <h2>Potwierdzenie rezerwacji zostanie odnotowane w twojej historii medycznej</h2>
        <button class="mainFormButton" type="submit">Potwierdź anulowanie wizyty</button>
        <button type="button" onclick="window.location.href='/patient/dashboard'" class="mainFormButton">Wróć do strony głównej</button>
    </form>

</main>
</body>
</html>