<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - appointments</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/list-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/doctor/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/doctor/availability/form"><h4>Dodaj dostępność</h4></a></li>
            <li><a href="/doctor/availability/list"><h4>Lista dostępności</h4></a></li>
            <li><a href="/doctor/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="centered-heading">Twoje wizyty</h1>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Pacjent</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Status wizyty</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${appointments}">
                <td th:text="${a.patient.firstName + ' ' + a.patient.lastName}"></td>
                <td th:text="${a.date}"></td>
                <td th:text="${a.startTime + ' - ' + a.endTime}"></td>
                <td th:text="${a.status}"></td>
                <td>
                    <a th:if="${a.status == AppointmentStatus.SCHEDULED}"
                       th:href="@{'/doctor/start-appointment/' + ${a.id}}"
                       class="btn">Rozpocznij wizytę
                    </a>
                    <a th:if="${a.status == AppointmentStatus.SCHEDULED}"
                       th:href="@{'/patient/availability/cancel-reservation/' + ${a.id}}"
                       class="btn">Anuluj wizytę (WIP)
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>