<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Panel doktora | MDB</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/doctor/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/doctor/availability/list"><h4>Dostępność</h4></a></li>
            <li><a href="/doctor/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <div class="dashboard">
        <div class="sidebar">
            <div class="profileMenu">
                <img th:src="@{/images/userProfile.png}" width="200" height="200" alt="profile-icon"/>
                <h3 th:text="${user.doctor.firstName + ' ' + user.doctor.lastName}">Użytkownik</h3>
                <div class="profileDetails">
                    <p>
                        <strong>Specjalizacja:</strong>
                        <span th:text="${user.doctor.speciality}">Nie podano</span>
                    </p>
                    <p>
                        <strong>PESEL:</strong>
                        <span th:text="${user.doctor.peselNumber}">00000000000</span>
                    </p>
                    <p>
                        <strong>Adres email:</strong>
                        <span th:text="${user.username}">adres@example.com</span>
                    </p>
                    <p>
                        <strong>Telefon:</strong>
                        <span th:text="${#strings.substring(user.doctor.phoneNumber, 0, 3) + '-'
                                   + #strings.substring(user.doctor.phoneNumber, 3, 6) + '-'
                                   + #strings.substring(user.doctor.phoneNumber, 6)}">123-456-789</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="content">
            <h1>Panel główny doktora</h1>
        </div>
    </div>
</main>
</body>
</html>
