<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MDB - start appointment</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/form-style.css">
</head>
<body>
<header>
    <nav>
        <ul class="nav-left">
            <li><a href="/doctor/dashboard"><img th:src="@{/images/pharmacy.png}" width="50" height="50" alt="home-icon"/></a></li>
            <li><a href="/doctor/availability/list"><h4>Dostępność</h4></a></li>
            <li><a href="/doctor/appointments"><h4>Wizyty</h4></a></li>
        </ul>
        <ul class="nav=right">
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <button class="logoutBtn" type="submit"><h3>Wyloguj</h3></button>
                </form>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="centered-heading">Panel wizyty</h1>
    <form class="mainForm" th:action="@{/doctor/start-appointment-confirm}" th:object="${medicalNote}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <input type="hidden" th:field="*{appointment.id}" />

        <div>
            <label for="diagnosis">Diagnoza:</label>
            <textarea id="diagnosis" th:field="*{diagnosis}" rows="4" cols="50" required></textarea>
        </div>

        <div>
            <label for="recommendations">Zalecenia:</label>
            <textarea id="recommendations" th:field="*{recommendations}" rows="4" cols="50" required></textarea>
        </div>

        <div>
            <label for="prescription">Recepta:</label>
            <textarea id="prescription" th:field="*{prescription}" rows="4" cols="50"></textarea>
        </div>

        <button class="mainFormButton" type="submit">Zakończ wizytę</button>
    </form>
</main>
</body>
</html>